extends /views/layout/users
block main

    div.section.container
        div.row
            div.col.s12.m10.offset-m1

                div.row
                    div.col.s12.m4
                        div.center.promo
                            i(class="material-icons") flash_on
                            p(class="promo-caption") Lorem ipsum dolor sit
                            p(class="light center") Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cum corporis excepturi illum perspiciatis fuga culpa in saepe aspernatur minima eius molestiae, pariatur ipsam illo quo reprehenderit obcaecati vero accusantium.

                    div.col.s12.m4
                        div.center.promo
                            i(class="material-icons") group 
                            p(class="promo-caption") Lorem ipsum dolor sit
                            p(class="light center") Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cum corporis excepturi illum perspiciatis fuga culpa in saepe aspernatur minima eius molestiae, pariatur ipsam illo quo reprehenderit obcaecati vero accusantium.

                    div.col.s12.m4
                        div.center.promo
                            i(class="material-icons") settings 
                            p(class="promo-caption") Lorem ipsum dolor sit
                            p(class="light center") Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cum corporis excepturi illum perspiciatis fuga culpa in saepe aspernatur minima eius molestiae, pariatur ipsam illo quo reprehenderit obcaecati vero accusantium.
                
                hr

                form.col.s12
                    div.row
                        div.input-field.col.s12
                            input(id="word_entry" onkeyup="search_word()" type="text" class="validate")
                            label(for="word_entry") Enter The Word

                ul.collection.with-header#table
                    div.collection-header 
                        h4.header_word WORD
                        h4.header_meaning MEANING
                        
                    
                    each element in meaning_data 
                        ul.collection-item 
                            li.collection_word #{element.name}
                            .collection_splitter :
                            li.collection_meaning #{element.meaning} 
