extends /views/layout/users
block main 

    div.section.container.error_section
        h3 OOPS !?
        h5 Sorry, You have visited a url which is incorrect or brocken
        hr

        //- TODO: Add tabs to visit website 

