doctype html
html
    head
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css") 
        script 
            include /public/javascripts/app.js
        style 
            include /public/stylesheets/style.css
        link(rel="icon" href="" type="image/png")
        title Dictionary By Adi

    body
        header.navbar-fixed
            nav 
                div.nav-wrapper.container
                    a(href="/" class="brand-logo") Dictionary
                    ul.right.hide-on-med-and-down
                        li #[a(href="#") Add Data]
                        li #[a(href="") Download]

        block main

        footer.page-footer
            div.container
                div.row
                    div.col.l6.s12
                        h5(class="white-text") AdithyanA's Dictionary
                        p(class="grey-text text-lighten-4") Ok so now you are seeing this website just trust this is a very good place you can find out meanings of various words here so just be happy and follow us in other platforms

                    div.col.l4.offset-l2.s12
                        h5(class="white-text") Visit Us 
                        ul
                            li #[a(class="grey-text text-lighten-3" href="#!") Github]
                            li #[a(class="grey-text text-lighten-3" href="#!") Youtube]
                            li #[a(class="grey-text text-lighten-3" href="#!") Dream world]

                div.footer-copyright
                    div.container.center-align
                        All Rights Reserved | 2014 Copyright Text

    script(src="https://kit.fontawesome.com/d178991aaf.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
</html>
